body {
    min-height: 50em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-modern {
    padding: 1em 3em;
    font-size: 1.25em;
    border: solid 0.75em transparent;
    border-radius: 3em;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    color: orangered;
    background-color: black;
}

.btn-modern:hover {
    transform: translateY(-5px);
    background-color: orange;
    color: black;
    box-shadow: 0 0.5em 1em darkorange;
}