.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.calculatorGrid {
    display: grid;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: 7rem repeat(5, 4rem);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
}
    
.screenArea {
    grid-area: 1 / 1 / 2 / 5;
    background-color: aqua;
}

.screenGrid {
    display: grid;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: 3rem 4rem;
    grid-column-gap: 8px;
}
    
.operationArea {
    grid-area: 1 / 1 / 2 / 5;
    background-color: black;
}

.resultsArea {
    grid-area: 2 / 1 / 3 / 5;
    background-color: grey;
}

.clearArea {
    grid-area: 2 / 1 / 3 / 3;
    background-color: brown;
}

.symbolValueArea { 
    grid-area: 2 / 3 / 3 / 4;
    background-color: blueviolet;
}

.divideArea {
    grid-area: 2 / 4 / 3 / 5;
    background-color: blanchedalmond;
}

.sevenArea {
    grid-area: 3 / 1 / 4 / 2;
    background-color: aquamarine;
}

.eightArea {
    grid-area: 3 / 2 / 4 / 3;
    background-color: green;
}

.nineArea {
    grid-area: 3 / 3 / 4 / 4;
    background-color: burlywood;
}

.multiplyArea {
    grid-area: 3 / 4 / 4 / 5;
    background-color: grey;
}

.fourArea {
    grid-area: 4 / 1 / 5 / 2;
    background-color: darkmagenta;
}

.fiveArea {
    grid-area: 4 / 2 / 5 / 3;
    background-color: yellow;
}

.sixArea {
    grid-area: 4 / 3 / 5 / 4;
    background-color: forestgreen;
}

.minusArea {
    grid-area: 4 / 4 / 5 / 5;
    background-color: tomato;
}

.oneArea {
    grid-area: 5 / 1 / 6 / 2;
    background-color: slateblue;
}

.twoArea {
    grid-area: 5 / 2 / 6 / 3;
    background-color: crimson;
}

.threeArea {
    grid-area: 5 / 3 / 6 / 4;
    background-color: coral;
}

.plusArea {
    grid-area: 5 / 4 / 6 / 5;
    background-color: violet;
}

.zeroArea {
    grid-area: 6 / 1 / 7 / 2;
    background-color: silver;
}

.comaArea {
    grid-area: 6 / 2 / 7 / 3;
    background-color: springgreen;
}

.equalArea {
    grid-area: 6 / 3 / 7 / 5;
    background-color: rebeccapurple;
}